body {
    width: 100%;
    max-width: 1024px;
    background-color:white;
    font-size: 100%;
    margin: 0 auto;
}

header,
main,
footer {
    background-color: lightgrey
}

header {
    padding: 24pt;
}

footer {
    text-align: center;
    font-style: italic;
    padding: 36pt;
}

header h1 {
    text-align: center;
}

h1 {
    font-size: 32pt;
}

section {
    margin: 24pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    text-align: center;
    background-color: #333;
}

ul li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img {
    border-radius: 7px;
    border: 1px solid whitesmoke;
    max-width: 75%;
    height: auto;
    width: auto;
    
}

#skill-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

figcaption {
    font-style: italic;
}
